# dependencies
/node_modules

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
hammerhacks-site-2025 copy/.next/server/chunks/ssr/\[externals\]_next_dist_shared_lib_no-fallback-error_external_59b92b38.js
